extends ../layout

block content
  .container2
    .goodImage
      img(src = good.image)
    .content
      h1 #{good.name}
      p 来自于 #{good.from}
      h2 #{good.price}
      .btns
        a.reserve(herf="#") 预订
        a.buy(herf="#") 立即购买
      h4 #{good.summary}
    //- .cat
    //-   each cat in categories
    //-     .div #{cat.name}
  .footer
    .footera
      a(href = "http://blog.lihailezzc.com/posts" target="_blank") @2018 made by zzc

